body {
  background-color: linen;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color:firebrick;
  text-align: center;
}
.assign{
  background-color: whitesmoke;
  margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 20px;
}
.assign img {
  width: 200px;
  padding: 10px;
  border: 2px solid mintcream;
}
a{
  text-decoration: none;
  color:darksalmon;
}
a:hover{
  text-decoration: none;
  color:blue;
}